In [26]:
#Base de dados: Covid19br (https://github.com/wcota/covid19br/)

In [27]:
import pandas as pd
covid_dataset_cities = pd.read_csv('c:\\Users\\gbdfigu\\Desktop\\ADA_Python_Avancado\\dataset\\cases-brazil-cities.csv')
covid_dataset_state = pd.read_csv('c:\\Users\\gbdfigu\\Desktop\\ADA_Python_Avancado\\dataset\\cases-brazil-states.csv')
covid_dataset_total = pd.read_csv('c:\\Users\\gbdfigu\\Desktop\\ADA_Python_Avancado\\dataset\\cases-brazil-total.csv')
covid_dataset_time = pd.read_csv('c:\\Users\\gbdfigu\\Desktop\\ADA_Python_Avancado\\dataset\\cases-brazil-cities-time_changesOnly.csv')

In [28]:
#covid_dataset_clean = covid_dataset_clean[covid_dataset['state'] != 'TOTAL']
#covid_dataset_clean = covid_dataset_clean[covid_dataset_clean['city'] != 'CASO SEM LOCALIZAÇÃO DEFINIDA']
#pattern = 'CASO SEM LOCALIZAÇÃO DEFINIDA.*'
#covid_dataset_clean = covid_dataset_clean[~covid_dataset_clean['city'].str.contains(pattern)]
#covid_dataset_clean.to_csv(r'c:\\Users\\gbdfigu\\Desktop\\ADA_Python_Avancado\\dataset\\export_dataframe.csv')
covid_dataset_cities = covid_dataset_cities.drop(columns=['ibgeID', 'deaths_per_100k_inhabitants', 'totalCases_per_100k_inhabitants', 'deaths_by_totalCases', '_source', 'date', 'newCases', 'newDeaths', 'last_info_date'])
covid_dataset_cities

     country state                    city  deaths  totalCases
0     Brazil    GO      Abadia de Goiás/GO      50        4074
1     Brazil    MG  Abadia dos Dourados/MG      21        1943
2     Brazil    GO            Abadiânia/GO      55        2218
3     Brazil    PA           Abaetetuba/PA     244       12009
4     Brazil    MG               Abaeté/MG      51        4279
...      ...   ...                     ...     ...         ...
5591  Brazil    RS                Áurea/RS       7         665
5592  Brazil    PR               Ângulo/PR      11         967
5593  Brazil    BA        Érico Cardoso/BA      53        2467
5594  Brazil    PA               Óbidos/PA     166        8717
5595  Brazil    SP                 Óleo/SP       6         162

[5596 rows x 5 columns]

In [29]:
max = covid_dataset_cities['totalCases'].max()
covid_dataset_cities[covid_dataset_cities['totalCases'] == max]

     country state               city  deaths  totalCases
4225  Brazil    RJ  Rio de Janeiro/RJ   38144     1316242

In [30]:
covid_dataset_cities = covid_dataset_cities.groupby(['state','country']).sum()

In [33]:
top_10_states_cases =covid_dataset_cities.nlargest(n=10, columns=['totalCases'], keep='all').drop(columns=['city'])
top_10_states_cases

               deaths  totalCases
state country
SP    Brazil   179039     6469442
MG    Brazil    65507     4189760
RS    Brazil    41921     2962414
PR    Brazil    46022     2920177
RJ    Brazil    76852     2754359
SC    Brazil    22703     1986447
GO    Brazil    28041     1900459
BA    Brazil    31459     1792572
CE    Brazil    28157     1453417
ES    Brazil    15041     1323595